body, html {
    margin: 0;
    padding: 0;
    background-color: lavender;
}

* {
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock {
    font-family: 'Inconsolata', sans-serif;
    font-size: 15vw;
    color: rgb(120, 74, 129);
}

.controls {
    margin-top: 16px;
}

.button {
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 4px 8px;
    margin-left: 4px;
}

.set-alarm {
    background-color: skyblue;
}

.clear-alarm {
    background-color: rgb(239, 86, 86);
}